<section class="px-10 pt-40">
  <h1 class="text-cyan-500 text-3xl font-semibold text-center">Welcome to your Budget Tracking App</h1>
  <p class="text-center mt-2 italic">Keep track of all your enpenses in one app repository.</p>
  <div class="mt-16">
    <%= render 'shared/signin_signup' %>
  </div>
</section>
