<div class="flex justify-center mb-6"> 
  <% if user_signed_in? %> 
    <div>
      Signed in as <%= current_user.name %>. This cannot be cheese?&nbsp; <br> <br> <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "border border-sky-500 py-3 px-4 rounded-md text-lg text-sky-500" %> 
    </div>
  <% else %> 
    <div>
      <%= link_to 'Register', new_user_registration_path, class: "border bg-sky-500 py-3 px-6 rounded-md text-lg text-slate-50" %> &nbsp;OR&nbsp; <%= link_to 'Sign in', new_user_session_path, class: "border border-sky-500 px-6 py-3 px-6 text-lg text-sky-500 rounded"%> 
    </div>
  <% end %>
</div>